<div class="panel panel-info">

	<!-- Panel header -->
	<div class="panel-heading">
		<h3 class="panel-title">Blog Properties</h3>
	</div>
	<!-- EndOf Panel header -->
	
	<!-- Panel body -->
	<div class="panel-body">
	
        <ul class="nav nav-tabs" *ngIf="tabsController != undefined">
           <li role="presentation" *ngFor="#tab of tabsController.tabs" 
           (click)="activateTab($event, tab.ID)"
           [class.active]="tab.isActive">
               <a href="javascript:void(null);">{{tab.ID}}</a>
           </li>

       </ul>
	
		<ngtabs> 
		
			<!-- Categories Tab -->
			<ngtab tabName="Categories" isActive="true">
	
				<div class="panel panel-default">
					<div class="panel-body">
					
					
						<!-- Panel Toolbar -->
						<nav class="nav nav-pills">
	<!-- 					  <li role="presentation" class="disabled"><a href="#">Disabled link</a></li> -->
							<span class="glyphicon glyphicon-tags" aria-hidden="true" style="margin-right: 6px;"> </span>
							<span>Categories <span class="badge small">{{categoriesUnique.length}}</span></span>
							
							
						  <button type="button" 
						  	class="btn btn-default navbar-btn"
						  	(click)="orderCategories('name')">
						  	<span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
						  </button>
	
						  <button type="button" 
						  	class="btn btn-default navbar-btn"
						  	(click)="orderCategories('count')">
						  	<span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
						  </button>
						  
						</nav>
						<!-- EnfOf Panel Toolbar -->
						
	
						<div class="btn-group btn-group-sm text-justify" role="group" aria-label="...">
							<button class="btn btn-sm btn-link" type="button" *ngFor="#category of categoriesUnique">
								{{category.name}} <span class="badge small">{{category.count}}</span>
							</button>
						</div>
	
					</div>
				</div>
				
				
				<!-- Chart -->
				<div class="panel panel-default Chart">
					<div class="panel-body" style="min-height: 200px">
					
						<canvas width="100%" height="300px" style="margin: auto;"></canvas>
					
					</div>
				</div>
				<!-- EndOf Chart -->
				
	
			</ngtab>
			<!-- EndOf Categories Tab -->

			
			<!-- Search Tab -->
			<ngtab tabName="Search" isActive="false">
				Search Form
			</ngtab>
			<!-- EndOf Search Tab -->

			
			<!-- Properties Tab -->
			<ngtab tabName="Properties" isActive="false">
				<div class="panel panel-default">
					<div class="panel-body">
						<div *ngIf="topic != undefined">
						<h4><b>Name</b></h4>
						{{topic.name}}
						<h4><b>Description</b></h4>
						{{topic.description}}
						<h4><b>Blog URL</b></h4>
						{{topic.url_blog}}
						<h4><b>Subtopics</b></h4>
							<div class="btn-group text-justify" role="group" aria-label="...">
							<span class="btn btn-info btn-link" *ngFor="#subtopic of topic.subtopics">
								{{subtopic.name}}
							</span>
							</div>
						</div>
					</div>
				</div>
			</ngtab>
			<!-- EndOf Properties Tab -->

			
		</ngtabs>
	
	
	</div>
	<!-- EndOf Panel body -->
	
	<!-- Panel footer -->
	<div class="panel-footer">
	</div>
	<!-- EndOf Panel footer -->
	
</div>