<div class="panel panel-info">

	<!-- Panel header -->
	<div class="panel-heading">
		<h3 class="panel-title">Blog Posts</h3>
	</div>
	<!-- EndOf Panel header -->
	
	
	
	<!-- Panel body -->
<!-- 	<div class="panel-body" style="max-height: 700px; overflow: overlay;"> -->
	<div class="panel-body">
	
	
	
		<!-- Toolbar -->
		<nav class="nav nav-pills">
<!-- 					  <li role="presentation" class="disabled"><a href="#">Disabled link</a></li> -->
		
			<span class="glyphicon glyphicon-inbox" aria-hidden="true" 
				style="margin-right: 6px; display: none;"> 
			</span>
				
			<span style="display: none;">	
			  <button type="button" class="btn btn-default navbar-btn">
			  	<span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
			  </button>
			</span>
	
			<span style="display: none;">
			  <button type="button" class="btn btn-default navbar-btn">
			  	<span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
			  </button>
			</span>
	
			<!-- Number of Posts -->
		  	<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
			<span class="nav-text">Posts: <span class="badge .small">{{posts.length}}</span> </span>
			
			<span class="glyphicon glyphicon-cog cogLoading"
				style="display:none;" 
				aria-hidden="true">
			</span>
			
			<br />


			<!-- Pagination	Options	 -->
			<span class="nav-text" style="float: right;">
				<span class="glyphicon glyphicon-adjust" aria-hidden="true"></span>
				Post per page: 
				<span class="badge .small">{{pagination.itemsForPage}}</span> 
			</span>
			
			<br />
	
			
			<span style="float: right;">
				<span class="btn btn-default navbar-btn" (click)="itemsForPage.stepDown(); pagination_SetItemsForPage(itemsForPage.value);">
				  	<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
				</span>
				<span>
					<input type="range" #itemsForPage 
						min="5" max="20" step="5" value="5"
						style="max-width: 150px; display: inline;"
						class="btn btn-default navbar-btn"
						(value)="pagination_SetItemsForPage(itemsForPage.value)"
						(change)="pagination_SetItemsForPage(itemsForPage.value)"
						>
				</span>
				<span class="btn btn-default navbar-btn"
					(click)="itemsForPage.stepUp(); pagination_SetItemsForPage(itemsForPage.value);">
				  	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</span>
			</span>
			<!-- EndOf Pagination Options	 -->
			
		  
		</nav>
		<!-- EndOf Toolbar -->
	
	
	
		<!-- Pagination -->
		<nav>
		  <ul class="pager">
		    <li *ngIf="pagination.currentPage > 1" class="previous" (click)="pagination_Previous()">
		    	<a href="javascript:void(null);"><span aria-hidden="true">&larr;</span> Previous</a>
	    	</li>
	    	
			<li>
			<ul class="pagination">
			    <li *ngFor="#page of pagination.pages" [class.active]="page.active">
			    	<a href="javascript:void(null);"
			    		[class.active]="page.active"
			    		(click)="pagination_GotoPage(page.pageNum)">
			    		{{page.pageNum}}
			   		 </a>
		    	</li>
	    	</ul>
	    	</li>

		    <li *ngIf="pagination.currentPage < pagination.pages.length" class="next" (click)="pagination_Next()">
		    	<a href="javascript:void(null);">Next <span aria-hidden="true">&rarr;</span></a>
	    	</li>
		  </ul>
		</nav>
		<!-- EndOf Pagination -->
	
	
		<ul class="list-group">
		
		<!-- Post Item -->
		  <li class="list-group-item" *ngFor="#post of paginated_Posts">
		  <h3>
		  	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> {{post.name}}
		  </h3>

  		  <span class="h3"><small><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{post.publishedDate}} </small></span>
  		  
  		  
   		  <!-- Button for show/hidde postProperties -->
 		  	<button type="button" class="btn btn-info" 
				(click)="postProperties.hidden = !postProperties.hidden"
				[class.active]="!postProperties.hidden">
				<span class="glyphicon glyphicon-eye-open" aria-hidden="true"
					[class.glyphicon-eye-open]="postProperties.hidden"
					[class.glyphicon-eye-close]="!postProperties.hidden"></span> 
				Properties
				<span class="glyphicon glyphicon-info-sign" aria-hidden="true">
					</span>
			</button> 
			
		  
 		  <!-- Layer for postProperties -->
		  <div #postProperties hidden="true" class="panel panel-info">
		  
			<ul class="list-group">
			  <li class="list-group-item">
		  		<span class="glyphicon glyphicon-link" aria-hidden="true">&nbsp;</span>
		  		<span class="h4">URL blog: </span>
		  		<span class="h5"><a href="{{post.url_blog}}" target="_blank">{{post.url_blog}}</a></span>
			  </li>
			  <li class="list-group-item">
				<div class="btn-group btn-group-sm text-justify" role="group" aria-label="...">
				<p>
				<span class="glyphicon glyphicon-tags" aria-hidden="true">&nbsp;</span>
				<span class="h4"> Categories: </span>
				</p>
					<button class="btn btn-sm btn-link" type="button" *ngFor="#tag of post.tasgs">
						{{tag}}
					</button>
				</div>			  
			  </li>
		  	</ul>
		  
		  </div>
		  <!-- Endof Layer for postProperties -->
			
			
		  <p class="h4" [innerHTML]="post.summary"></p>

		  
		  <!-- Button for show/hidde postDetail -->
			<button type="button" class="btn btn-success" 
				(click)="postDetail.hidden = !postDetail.hidden"
				[class.active]="!postDetail.hidden">
				<span class="glyphicon glyphicon-eye-open" aria-hidden="true"
					[class.glyphicon-eye-open]="postDetail.hidden"
					[class.glyphicon-eye-close]="!postDetail.hidden"></span>
				Content
				<span class="glyphicon glyphicon-file" aria-hidden="true">
					</span>
			</button>
			
 		  <!-- Layer for postDetail -->
		  <div #postDetail hidden="true" class="panel panel-success">
		  	<div class="panel-body" [innerHTML]="post.content"></div>
		  </div>
		  
		  
		  </li>
		<!-- EndOf Post Item -->

		  
		  
		</ul>



		<!-- Pagination -->
		<nav>
		  <ul class="pager">
		    <li *ngIf="pagination.currentPage > 1" class="previous" (click)="pagination_Previous()">
		    	<a href="javascript:void(null);"><span aria-hidden="true">&larr;</span> Previous</a>
	    	</li>
	    	
			<li>
			<ul class="pagination">
			    <li *ngFor="#page of pagination.pages" [class.active]="page.active">
			    	<a href="javascript:void(null);"
			    		[class.active]="page.active"
			    		(click)="pagination_GotoPage(page.pageNum)">
			    		{{page.pageNum}}
			   		 </a>
		    	</li>
	    	</ul>
	    	</li>

		    <li *ngIf="pagination.currentPage < pagination.pages.length" class="next" (click)="pagination_Next()">
		    	<a href="javascript:void(null);">Next <span aria-hidden="true">&rarr;</span></a>
	    	</li>
		  </ul>
		</nav>
		<!-- EndOf Pagination -->
	
	</div>
	<!-- EndOf Panel body -->

	<!-- Panel footer -->	
	<div class="panel-footer">
	</div>
	<!-- EndOf Panel footer -->
	
</div>