<header_waw></header_waw>


<div class="container-fluid">
    
	<div class="row">
		<div class="col-md-8">
			<h1 class="title">WAW</h1>
		</div>

	</div>



	<div class="row">
		<div class="col-md-8">
			<!-- Router outlet -->
			<router-outlet></router-outlet>

		</div>

		<div class="col-md-4">
			<!-- Properties component -->
			<subtopics_waw></subtopics_waw>
		</div>
	</div>


	<div class="row">
		<div class="col-md-5">
			<!-- BlogProperties component -->
			<blogProperties_waw></blogProperties_waw>
		</div>
		<div class="col-md-7">
			<!-- BlogPosts component -->
			<blogPosts_waw></blogPosts_waw>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<!-- relatedResources component -->
			Related Resources
		</div>
		<div class="col-md-4">
			<!-- sugestedResources component -->
			Sugested Resources
		</div>
		<div class="col-md-4">
			<!-- recentPosts component -->
			<blogRecentPosts_waw></blogRecentPosts_waw>
		</div>		
	</div>


	</div>

