@CHARSET "UTF-8";


.Subtopic_Icon {
	
	
/* 	position: absolute; */
/* 	left: 0px; */
	
	width: 75px;
	height: 75px;
	
	min-width: 30px;
	min-height: 30px;
	
	padding: 2px;
	
/* 	background-image: url("../images/button_HTML5.png"); */
/* 	background-repeat: no-repeat; */
/* 	background-clip: content-box; */
/* 	background-position: 0px 0px; */
/* 	background-size: 100% 100%; */
/* 	background-color: rgba(101,101,101,0.91); */
	
}

.Subtopic__DETAIL_IMG {
	
	display: inline-block;
	float: right;
	
	width: 255px;
	height: 255px;
	
	background-size: 255px 255px;
	
	margin-left: 7px;
	
}

.section__Justice {
	
	background-image: url("res/images/Scales_of_justice.png");

}

.Subtopic_Icon.section__Justice {
	background-repeat: no-repeat;
	background-clip: content-box;
	background-size: 100%;
}



.iconSelected {
	
	opacity: 1.0;
	
	-webkit-animation: 2.33s linear 0s infinite move_iconSelected;
		-moz-animation: 2.33s linear 0s infinite move_iconSelected;
			-o-animation: 2.33s linear 0s infinite move_iconSelected;
				-ms-animation: 2.33s linear 0s infinite move_iconSelected;
					animation: 2.33s linear 0s infinite move_iconSelected;
	
}

			
/* Keyframes move_iconSelected  -------------------------- */
@-webkit-keyframes move_iconSelected {
  0% { opacity: 1.0; }
  25% { opacity: 0.65; }
  60% { opacity: 0.35; }
  100% { opacity: 1.0; }
}

@-moz-keyframes move_iconSelected {
  0% { opacity: 1.0; }
  25% { opacity: 0.65; }
  60% { opacity: 0.35; }
  100% { opacity: 1.0; }
}

@-o-keyframes move_iconSelected {
  0% { opacity: 1.0; }
  25% { opacity: 0.65; }
  60% { opacity: 0.35; }
  100% { opacity: 1.0; }
}

@-ms-keyframes move_iconSelected {
  0% { opacity: 1.0; }
  25% { opacity: 0.65; }
  60% { opacity: 0.35; }
  100% { opacity: 1.0; }
}

@keyframes move_iconSelected {
  0% { opacity: 1.0; }
  25% { opacity: 0.65; }
  60% { opacity: 0.35; }
  100% { opacity: 1.0; }
}


/* EndOf Keyframes move_iconSelected  -------------------------- */

