<div class="panel panel-info">

	<!-- Panel header -->
	<div class="panel-heading">
		<h3 class="panel-title">Subtopics</h3>
	</div>
	<!-- EndOf Panel header -->

	<!-- Panel body -->
	<div class="panel-body">


		<!-- Panel Toolbar -->
		<nav class="nav nav-pills">
<!-- 					  <li role="presentation" class="disabled"><a href="#">Disabled link</a></li> -->
			<span class="glyphicon glyphicon-list" aria-hidden="true" style="margin-right: 6px;"> </span>
			<span>Subtopics <span class="badge small">{{subtopics.length}}</span></span>
			
		  <button *ngIf="selectedMainTopic != undefined"  
		  	type="button"
		  	(click)="selectMainTopic(selectedMainTopic.ID)"
		  	class="btn btn-default navbar-btn btn-info">
		  	<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
		  	{{selectedMainTopic.name}}
		  	<span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
		  </button>
		  
		  <button *ngIf="selectedMainTopic != undefined"  
		  	type="button"
		  	(click)="selectRoot(); selectedMainTopic = null;"
		  	class="btn btn-default navbar-btn btn-info">
		  	<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
		  	Home
		  </button>
		  

		</nav>
		<!-- EnfOf Panel Toolbar -->


		<div class="list-group" style="margin-top: 5px;">
		
	       <a href="javascript:void(null);" *ngFor="#topic of subtopics"
	        class="list-group-item"
	        (click)="selectTopic(topic.ID)"
	        [class.active]="topic.is_active">
	        
			<div class="media">
			  <div class="media-left media-middle">
			      <img src="res/images/{{topic.iconImage}}" class="Subtopic_Icon">
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading list-group-item-heading">{{topic.name}}</h4>
			    <p class="list-group-item-text">{{topic.description}}</p>  
			  </div>
			</div>            
	       </a>
		
		</div>
		
	</div>
	<!-- EndOf Panel body -->

	<!-- Panel footer -->
	<div class="panel-footer">
	</div>
	<!-- EndOf Panel footer -->
	
</div>