<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			What about... 
			<span *ngIf="selectedTopic != undefined">{{selectedTopic.name}}</span>
			
		</h3>
	</div>
	<div class="panel-body">
<!-- 		Home -->
		
<!-- 		<button type="button" class="btn btn-warning" (click)="doTest()">Test</button> -->
	
		<div class="panel panel-default" *ngIf="selectedTopic != undefined">
		  <div class="panel-body">
		  
  			<div class="media">
			  <div class="media-left media-middle">
			    
			      <img src="res/images/{{selectedTopic.iconImage}}" class="Title_Icon" *ngIf="selectedTopic.iconImage != undefined">
			    
			  </div>
			  <div class="media-body">
	  		  	<h2>{{selectedTopic.name}}</h2>
	  			<h3>{{selectedTopic.description}}</h3>
			  	<button type="button" class="btn btn-warning" (click)="showBlog()" *ngIf="selectedTopic.url_blog != undefined">
					<span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
			  		Go to Blog
			  	</button>
			  </div>
			</div> 
		  
		  
		  	<h3>{{selectedTopic.name}}</h3>
		  	<p [innerHTML]="selectedTopic.summary"></p>
		  	<button type="button" class="btn btn-info" (click)="moreInfo()">
				<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
		  		more information
		  	</button>
		  </div>
		</div>	

	
	</div>
	<div class="panel-footer">Panel footer</div>
</div>