
  <!-- \ NavBar / ---------------------------------------------------------------------------------------------------- -->
	<nav class="navbar navbar-default navbar-fixed-top">
		
		<div class="container-fluid">
			
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> <span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">WAW</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-navbar-collapse-1">
				<ul class="nav navbar-nav">
<!-- 					<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
<!-- 					<li><a href="#">Link</a></li> -->
					
<!-- 					<a href="javascript:activateTopic(null,'{{topic.name}}');" (href)="activateTopic($event, topic.name)">{{topic.name}}</a> -->
					
		           <li *ngFor="#topic of mainTopics"
			           (click)="activateTopic(topic.name)"
			           [class.active]="topic.is_active">
<!-- 		               <a [routerLink]="['/topic', '/topic', {topicName:topic.name}]">{{topic.name}}</a> -->
<!-- 					<a href="topic/{{topic.name}}">{{topic.name}}</a> -->
          		       <a href="javascript:void(null);">{{topic.name}}</a>
<!--           		       <a (click)="activateTopic($event, topic.name)">{{topic.name}}</a> -->
<!--           		       <button type="button" class="btn btn-default" (on-click)="activateTopic($event, topic.name)">{{topic.name}}</button> -->
		               
		           </li>


				</ul>
				
<!-- 				<form class="navbar-form navbar-left" role="search"> -->
<!-- 					<div class="form-group"> -->
<!-- 						<input type="text" class="form-control" placeholder="Search"> -->
<!-- 					</div> -->
<!-- 					<button type="submit" class="btn btn-default">Submit</button> -->
<!-- 				</form> -->


				<!-- Right part -->
				<ul class="nav navbar-nav navbar-right">
<!-- 					<li><a href="#">Link</a></li> -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">
							<span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
							Settings <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li class="disabled">
								<a href="javascript:void(null);" class="disabled">
								Blogs Activated <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
								</a>
							</li>
<!-- 							<li><a href="javascript:void(null);">Another action</a></li> -->
							<li>
								<a href="javascript:void(null);" (click)="testJSON()">
								<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
								Get config (JSON)
								</a>
							</li>
							<li role="separator" class="divider"></li>
							<li>
								<a href="javascript:void(null);" (click)="aboutThisWeb()">
								<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
								About this web
								</a>
							</li>
							<li role="separator" class="divider"></li>
							<li>
								<a href="javascript:void(null);" (click)="aboutWAW()">
								<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
								About WAW
								</a>
							</li>
						</ul>
					</li>
				</ul>
				<!-- EndOf Right part -->
				
				
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
 <!-- / NavBar \ ---------------------------------------------------------------------------------------------------- -->



<!-- Modal aboutThisWeb -->
<div class="modal fade aboutThisWeb" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content panel-info">
      <div class="modal-header panel-heading">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title warning">About this web</h4>
      </div>
      <div class="modal-body">
        <p>This web is a HTML5 application prototype.</p>
        <p>All the information is stored on remote servers. This application only has a configuration file for access all the data by the client browser.</p>
      </div>
      <div class="modal-footer panel-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- EndOf Modal aboutThisWeb -->

<!-- Modal aboutWAW -->
<div class="modal fade aboutWAW" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content panel-info">
      <div class="modal-header panel-heading">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title warning">About WAW</h4>
      </div>
      <div class="modal-body">
        <p>What about World? (WAW).</p>
        <p>Is a project that unifies information technologies and the mosts importants topics in life. Of course is only a point of view.</p>
      </div>
      <div class="modal-footer panel-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- EndOf Modal aboutWAW -->
