@CHARSET "UTF-8";

.Main_Content__Info__DETAIL_IMG.section__Information {
	background-image: url("../images/by.png");
	background-repeat: no-repeat;
	background-clip: content-box;
	background-position: 35px 4px;
	background-size: 73%;
}

.Topic_Thumbnail__IMG.section__Information {
	background-image:  url("../images/by.png");
}

.Topic_Thumbnail__Container.SuperTopic .Topic_Thumbnail__IMG.section__Information {
	background-image:  url("../images/by.png");
	background-position: 13px 14px;
}

.Topic_Thumbnail__IMG.sectionTopic.Language {
	background-image:  url("../images/google1.png");
}

.Topic_Thumbnail__IMG.sectionTopic.Messages {
	background-image:  url("../images/edit26.png");
}

.Topic_Thumbnail__IMG.sectionTopic.Communication {
	background-image:  url("../images/speech71.png");
}

.Topic_Thumbnail__IMG.sectionTopic.Education {
	background-image:  url("../images/graduation.png");
}

.Topic_Thumbnail__IMG.sectionTopic.Knowledge {
	background-image:  url("../images/robot3.png");
}

.Main_Content__Info.section__Information .Main_Content__Info__Blogs .Topic_Thumbnail__Container.SuperTopic .Topic_Thumbnail__IMG {
  background-position: 16px 23px;
}

/* Tablet Portrait (768px) */
/* @media only screen and (min-width: 321px) and (max-width: 1024px) and (orientation: portrait) { */
@media only screen and (max-width: 1000px) {
	

}

@media only screen and (max-width: 700px) {
	

	.Main_Content__Info.section__Information .Main_Content__Info__Blogs .Topic_Thumbnail__Container.SuperTopic .Topic_Thumbnail__IMG {
		background-position: 11px 17px;
	}
	
	.Topic_Thumbnail__Container.SuperTopic .Topic_Thumbnail__IMG.section__Information {
		background-position: 8px 8px;
	}
	
}


/* Phone Landscape (480px) */
/* @media only screen and (min-width: 321px) and (max-width: 480px) and (orientation: landscape) { */
@media only screen and (max-width: 480px) {
	


}



/* Phone Portrait (320px) */
@media only screen and (max-width: 320px) {
}

/* iPhone 2G-3GS Landscape */
@media only screen and (width: 569px) and (width: 480px) and (orientation: landscape) {
}

/* iPhone 5 Landscape */
@media only screen and (width: px) and (width: 568px) and (orientation: landscape) {
}

/* iPhone 5 Portrait */
@media only screen and (width: px) and (width: 568px) and (orientation: portrait) {
}