@CHARSET "UTF-8";

.Main_Content__Info__DETAIL_IMG.section__Health {
	background-image: url("../images/Caduceus.png");
	background-repeat: no-repeat;
	background-clip: content-box;
	background-position: 35px 4px;
	background-size: 73%;
}

.Topic_Thumbnail__Container.SuperTopic .Topic_Thumbnail__IMG.section__Health {
	background-image:  url("../images/Caduceus.png");
}


.Topic_Thumbnail__IMG.section__Health {
	background-image:  url("../images/Caduceus.png");
}

.Topic_Thumbnail__IMG.sectionTopic.Physical_Layer {
	background-image:  url("../images/heart27.png");
}

.Topic_Thumbnail__IMG.sectionTopic.Psychological_Layer {
	background-image:  url("../images/brain2.png");
}




/* Tablet Portrait (768px) */
/* @media only screen and (min-width: 321px) and (max-width: 1024px) and (orientation: portrait) { */
@media only screen and (max-width: 1000px) {
	

}

@media only screen and (max-width: 700px) {
	

	
	
}


/* Phone Landscape (480px) */
/* @media only screen and (min-width: 321px) and (max-width: 480px) and (orientation: landscape) { */
@media only screen and (max-width: 480px) {
	


}



/* Phone Portrait (320px) */
@media only screen and (max-width: 320px) {
}

/* iPhone 2G-3GS Landscape */
@media only screen and (width: 569px) and (width: 480px) and (orientation: landscape) {
}

/* iPhone 5 Landscape */
@media only screen and (width: px) and (width: 568px) and (orientation: landscape) {
}

/* iPhone 5 Portrait */
@media only screen and (width: px) and (width: 568px) and (orientation: portrait) {
}